<%provide(:title, 'Sign in')%>
<h1>Entra em Casa</h1>

<dic class="row">
	<dic class="span6 offset3">
		<%= form_for(:session, url: sessions_path) do |f| %>

			<%= f.label :email %>
			<%= f.text_field :email %>

			<%= f.label :password %>
			<%= f.password_field :password %>

			<%= f.submit "Entra ai!", class: "btn btn-large btn-inverse"%>

		<% end %>

		<p>Novo aqui em casa? <%= link_to "Regista-te!", signup_path%></p>
	</div>
</div>